@page
@model CafeComSeuTioAdmin.Pages.Products.addproductModel
@{
}
<h1>Adicionando um produto</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <!--<div asp-validation-summary="All"></div>-->
            <div class="mb-3">
                <label asp-for="newProduct.Name">Name</label>
                <input asp-for="newProduct.Name" class="form-control" />
                <span asp-validation-for="newProduct.Name"></span>
            </div>
            <div class="mb-3">
                <label asp-for="newProduct.ShortDescription">ShortDescription</label>
                <input asp-for="newProduct.ShortDescription" class="form-control" />
                <span asp-validation-for="newProduct.ShortDescription"></span>
            </div>
            <div class="mb-3">
                <label asp-for="newProduct.Description">Description</label>
                <textarea asp-for="newProduct.Description" class="form-control"></textarea>
                <span asp-validation-for="newProduct.Description"></span>
            </div>
            <div class="mb-3">
                <label asp-for="newProduct.Name">Price</label>
                <input asp-for="newProduct.Price" class="form-control" />
                <span asp-validation-for="newProduct.Price"></span>
            </div>
            <div class="mb-3">
                <label asp-for="newProduct.Category">Category</label>
                <select asp-for="newProduct.Category" class="form-control">
                    <option value="Beverage">Beverage</option>
                    <option value="Food">Food</option>
                </select>
                <span asp-validation-for="newProduct.Category"></span>
            </div>
            <div class="mb-3">
                <label asp-for="newProduct.Upload">Upload</label>
                <input asp-for="newProduct.Upload" class="form-control" />                
            </div>
            <button class="btn btn-success">Create</button>
        </form>
    </div>
</div>

@*
@if(Model.NomeProduto != null)
{
	<div class="alert-success mt-3">
		Produto @Model.NomeProduto cadastrado com sucesso.
	</div>
}
*@
